@import '../../scss/base/variables';
@import '../../scss//base/mixins';

.section {
  padding: 60px 52px 0;
  margin: 0 auto;

  @include mobile-only {
    width: 360px;
  }
  @include tablet-only {
    max-width: 768px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: RightGrotesk;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.9;
  color: $primary-white;
  text-transform: uppercase;
  margin-bottom: 24px;
  @include tablet-and-desktop {
    font-size: 80px;
    line-height: 1;
  }
  @include desktop-only {
    font-size: 160px;
  }
}
