@import '../../scss/base/mixins';
@import '../../scss/base/variables';

.section {
  padding: 60px 92px 0;
  @include tablet-and-desktop {
    padding: 80px 88px 0;
  }
  @include desktop-only {
    padding: 120px 204px 0;
  }
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: RightGrotesk;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.9;
  margin-bottom: 24px;
  @include tablet-and-desktop {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 48px;
  }
  @include desktop-only {
    font-size: 160px;
    margin-bottom: 80px;
  }
}
