@font-face {
  font-family: 'RightGrotesk';
  src: url('../../assets/fonts/RightGrotesk-CompactBlack.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BiroScriptPlus';
  src: url('../../assets/fonts/BiroScriptPlus.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSansMono-Regular';
  src: url('../../assets/fonts/MessinaSansMono-Regular.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSansMono-SemiBold';
  src: url('../../assets/fonts/MessinaSansMono-SemiBold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}