@import '../../scss/base/variables';
@import '../../scss//base/mixins';


.slide {
  @include tablet-and-desktop {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.swiper{
 margin-left: 10px;
}

