@import '../../scss/base/variables';
@import '../../scss//base/mixins';

.container {
  display: flex;
}

.buttonIsOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 8px;
  background: rgba(30, 30, 30, 0.1);

  font-family: MessinaSansMono-Regular;
  font-size: 12px;
  font-weight: 600;
  color: $primary-black;
  margin-bottom: 8px;

  transition: $transition-default;

  @include desktop-only {
    width: 80px;
    height: 80px;
    font-size: 16px;
    line-height: 1.1;
  }

  &:hover {
    color: $primary-white;
  }
}

.buttonIsClose {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  padding: 10px;
  background: rgba(30, 30, 30, 0.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: MessinaSansMono-Regular;
  font-size: 12px;
  font-weight: 600;
  color: $primary-black;
  margin-bottom: 8px;

  transition: $transition-default;

  @include desktop-only {
    width: 80px;
    height: 80px;
    font-size: 16px;
    line-height: 1.1;
  }

  &:hover {
    color: $primary-white;
  }
}
