@import '../../scss/base/mixins';
@import '../../scss/base/variables';

.container {
  background-color: rgb(218, 51, 59);
  padding: 8px 8px;

  display: flex;
  justify-content: space-between;
}

@include mobile-only {
}
