@import '../../scss/base/variables';
@import '../../scss//base/mixins';
.section {
  padding-top: 60px;

  @include tablet-only {
    padding-top: 80px;
  }
  @include desktop-only {
    padding-top: 120px;
  }
}
.container {
  margin: 0px auto;
  min-width: 360px;

  margin-bottom: 24px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: RightGrotesk;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.9;
  color: $primary-white;
  text-transform: uppercase;
  @include mobile-only {
    margin-bottom: 24px;
  }
  @include tablet-and-desktop {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 40px;
  }
  @include desktop-only {
    font-size: 160px;
    margin-bottom: 80px;
  }
}
.collection {
  display: flex;
  transition: $transition-default;
  @include mobile-only {
    margin-bottom: 24px;
  }
  @include tablet-and-desktop {
    margin-bottom: 24px;
    gap: 24px;
  }
}
