@import '../../scss/base/variables';
@import '../../scss//base/mixins';
.section {
  padding: 60px 72px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: RightGrotesk;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.9;
  color: $primary-white;
  text-transform: uppercase;
  @include mobile-only {
    margin-bottom: 24px;
  }
  @include tablet-only {
    margin-bottom: 40px;
  }
  @include desktop-only {
    margin-bottom: 80px;
  }
}
.collection {
  display: flex;
   transition:$transition-default;
  @include mobile-only {
    margin-bottom: 24px;
  }
  @include tablet-and-desktop {
    margin-bottom: 24px;
    gap: 24px;
  }
}

.imgCollection {
  width: 216px;
  height: 256px;
  border-radius: 12px;
  @include tablet-and-desktop {
    gap: 24px;
    width: 284px;
    height: 336px;
  }
  @include desktop-only {
    width: 274px;
    height: 320px;
  }
}
